@page "/fetchdata"

@using Husyoudaddy.Data
@using Husyoudaddy.Shared
@using Microsoft.Azure.Cosmos.Table;

@inject CosmosTableService CosmosService;

<h1>Huss your daddy</h1>
<SearchForm OnSearch="searchOwner" Tenants="tenants" />

    @if (loading)
    {
        <p><em>Loading...</em></p>
    }
    @if (tenantsSegment?.Results.Count > 0)
    {
        <div>
            @tenantsSegment.Results[0].email
        </div>
    }


    @code {
        Tenant tenant;
        bool loading = false;
        TableQuerySegment<Tenant> tenantsSegment;
        List<Tenant> tenants;

        protected override void OnInitialized()
        {
            tenants = new List<Tenant> {
            new Tenant {name = "healthagentlocaldev"},
            new Tenant {name = "healthagentdev"},
            new Tenant {name = "orendevbot"},
            new Tenant {name = "amirdevbot"},
            new Tenant {name = "adamdevbot"}};

            base.OnInitialized();
        }

        protected async void searchOwner(Tenant tenant)
        {
            loading = true;
            tenantsSegment = await CosmosService.GetTenantByNameAsync(tenant.name);
            loading = false;
            StateHasChanged();
        }

    }
