<h3>ScenarioVisualizer</h3>

<EditForm Model="@Content">
    <InputTextArea @bind-Value="Content" Style="width:100%; height:400px" />
</EditForm>

@code {
    [Parameter]
    public string Content { get; set; }
}
